@model IEnumerable<SchoolService.Models.DataModel.Hazine>
@{
    Layout = "~/Areas/Admin3mill/Views/Shared/_Layout.cshtml";
}
@section CSS_Requested{
    <link href="~/Content/AdminContent/vendor/sweetalert/sweet-alert.css" rel="stylesheet" media="screen">
    <link href="~/Content/AdminContent/vendor/sweetalert/ie9.css" rel="stylesheet" media="screen">
    <link href="~/Content/AdminContent/vendor/toastr/toastr.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/AdminContent/vendor/select2/select2.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/AdminContent/vendor/DataTables/css/DT_bootstrap.css" rel="stylesheet" media="screen">

}
@section js_Requested{
    <script src="~/Content/AdminContent/vendor/sweetalert/sweet-alert.min.js"></script>
    <script src="~/Content/AdminContent/vendor/toastr/toastr.min.js"></script>
    <script src="~/Content/AdminContent/vendor/select2/select2.min.js"></script>
    <script src="~/Content/AdminContent/vendor/DataTables/jquery.dataTables.min.js"></script>

}
@section js_Handler
{
    <script src="~/Content/AdminContent/assets/js/ui-notifications.js"></script>
    <script src="~/Content/AdminContent/assets/js/table-data.js"></script>
    <script>
        jQuery(document).ready(function () {
            Main.init();
            TableData.init();
            UINotifications.init("@ViewBag.jsNotifyMessage");
        });
    </script>


}
<div class="main-content">
    <div class="wrap-content container" id="container">
        <!-- start: PAGE TITLE -->
        @Html.Partial("PageTittle")
        <!-- end: PAGE TITLE -->
        <!-- start: DYNAMIC TABLE -->
        <div class="container-fluid container-fullw bg-white">
            <div class="row">
                <div class="col-md-12 col-lg-10 col-lg-push-1">
                    <table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
                        <thead>
                            <tr>
                                <th class="center">@Html.DisplayName(Resource.Resource.ID)</th>
                                <th class="center">@Html.DisplayName(Resource.Resource.NaameService)</th>
                                <th class="center">@Html.DisplayName(Resource.Resource.Tarikh)</th>
                                <th class="center">@Html.DisplayName(Resource.Resource.Bedehi)</th>
                                <th class="center"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="center">@item.ID</td>
                                    <td class="center">@item.Service.ServiceName</td>
                                    <td class="center">@SchoolService.Areas.Admin3mill.Models.Tools.JalaliDateWithoutHour(item.Tarikh ?? default(DateTime))</td>
                                    <td class="center">@item.Bedehi</td>
                                    <td class="center">
                                        <a href="@Url.Action("DetailHazine", "OmureMali", new { NemayandegiId = ViewBag.NemayandegiId, ModirId = ViewBag.ModirId, HazineId = item.ID, OvliaId =item.F_OvliaId })" class="btn btn-transparent btn-xs" data-toggle="tooltip" data-placement="top" title="جزئیات"><i class="fa fa-info-circle"></i></a>
                                        <a href="@Url.Action("EditHazine", "OmureMali", new { NemayandegiId = ViewBag.NemayandegiId, ModirId = ViewBag.ModirId, HazineId = item.ID, OvliaId = item.F_OvliaId })" class="btn btn-transparent btn-xs" data-toggle="tooltip" data-placement="top" title="ویرایش"><i class="fa fa-pencil"></i></a>
                                        <a href="@Url.Action("AddPardakht", "OmureMali", new { NemayandegiId = ViewBag.NemayandegiId, ModirId = ViewBag.ModirId, HazineId = item.ID, OvliaId =item.F_OvliaId})" class="btn btn-transparent btn-xs" data-toggle="tooltip" data-placement="top" title="پرداخت نقدی"><i class="fa fa-dollar"></i></a>
                                        <a href="@Url.Action("AddCheck", "OmureMali", new { NemayandegiId = ViewBag.NemayandegiId, ModirId = ViewBag.ModirId, HazineId = item.ID, OvliaId = item.F_OvliaId })" class="btn btn-transparent btn-xs" data-toggle="tooltip" data-placement="top" title="پرداخت با چک"><i class="fa fa-money"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- end: DYNAMIC TABLE -->
    </div>
</div>
