@model SchoolService.Models.DataModel.Nemayandegi
@{
    Layout = "~/Areas/Admin3mill/Views/Shared/_Layout.cshtml";
}
@section CSS_Requested{

    <link href="~/Content/AdminContent/vendor/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/AdminContent/vendor/select2/select2.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/AdminContent/vendor/bootstrap-datepicker/bootstrap-datepicker3.standalone.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/AdminContent/vendor/bootstrap-timepicker/bootstrap-timepicker.min.css" rel="stylesheet" media="screen">


}
@section js_Requested
{
    <script src="~/Content/AdminContent/vendor/maskedinput/jquery.maskedinput.min.js"></script>
    <script src="~/Content/AdminContent/vendor/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
    <script src="~/Content/AdminContent/vendor/autosize/autosize.min.js"></script>
    <script src="~/Content/AdminContent/vendor/selectFx/classie.js"></script>
    <script src="~/Content/AdminContent/vendor/selectFx/selectFx.js"></script>
    <script src="~/Content/AdminContent/vendor/select2/select2.min.js"></script>
    <script src="~/Content/AdminContent/vendor/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/AdminContent/vendor/bootstrap-timepicker/bootstrap-timepicker.min.js"></script>
    <script src="~/Content/AdminContent/vendor/Chart.js/Chart.min.js"></script>

}

@section js_Handler
{
    <script>
        jQuery(document).ready(function () {
            Main.init();
        });

            $("a[id^='PipoModalLink_']").click('action', function () {
                var temp = $(this).attr('id').split("_");
                var myid = temp[1];
                $("#PipoModalBody").empty();
                $("#PipoModalBody").append('<p> @Resource.Resource.View_AreYouShure' + ' (#' + myid + ')</p>');
                var $self = $("#PipoModalForm");
                $self.attr('action', '/Admin3mill/Nemayandegi/DeleteNemayandegi?NemayandegiId=' + myid);
            });
    </script>
}
<div class="main-content">
    <div class="wrap-content container" id="container">
        <!-- start: PAGE TITLE -->
        @Html.Partial("PageTittle")
        <!-- end: PAGE TITLE -->
        <!-- start: BASIC EXAMPLE -->
        <div class="container-fluid container-fullw bg-white">
            <div class="row">
                <div class="col-md-12">
                    <div class="row margin-top-30">
                        <div class="col-lg-6 col-md-12 ">
                            <fieldset>
                                <legend>
                                    مشخصات عمومی<span class="symbol required"></span>
                                </legend>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">
                                        @Html.DisplayName("نام نمایندگی")
                                    </label>
                                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @id = "exampleInputEmail1", @placeholder = "نام را وارد کنید", @type = "text",disabled=true })
                                    @Html.ValidationMessageFor(model => model.Name)
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">
                                        @Html.DisplayName("نام دارنده نمایندگی")
                                    </label>

                                    @Html.TextBoxFor(model => model.FirstName, null, new { @class = "form-control", @id = "exampleInputEmail1", @placeholder = "نام دارنده نمایندگی", @type = "text", disabled = true })
                                    @Html.ValidationMessageFor(model => model.FirstName)
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">
                                        @Html.DisplayName("نام خانوادگی دارنده نمایندگی")
                                    </label>
                                    @Html.TextBoxFor(model => model.LastName, null, new { @class = "form-control", @id = "exampleInputEmail1", @placeholder = "نام خانوادگی دارنده نمایندگی", @type = "text", disabled = true })
                                    @Html.ValidationMessageFor(model => model.LastName)
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">
                                        @Html.DisplayName("شماره همراه")
                                    </label>
                                    @Html.TextBoxFor(model => model.Mobile, null, new { @class = "form-control", @id = "exampleInputEmail1", @placeholder = "شماره همراه", @type = "text", disabled = true })
                                    @Html.ValidationMessageFor(model => model.Mobile)
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">
                                        @Html.DisplayName("شماره ثابت")
                                    </label>
                                    @Html.TextBoxFor(model => model.Tell, new { @class = "form-control", @id = "exampleInputEmail1", @placeholder = "شماره ثابت", @type = "text", disabled = true })
                                    @Html.ValidationMessageFor(model => model.Tell)
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">
                                        @Html.DisplayName("ایمیل")
                                    </label>
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @id = "exampleInputEmail1", @placeholder = "ایمیل", @type = "text", disabled = true })
                                    @Html.ValidationMessageFor(model => model.Email)
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">
                                        @Html.DisplayName("آدرس نمایندگی")
                                    </label>
                                    @Html.TextAreaFor(model => model.AddressDetail, new { @class = "form-control", @id = "exampleInputEmail1", @placeholder = "آدرس نمایندگی", @type = "text", disabled = true })
                                    @Html.ValidationMessageFor(model => model.Name)
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-lg-6 col-md-12 ">
                            <fieldset>
                                <legend>
                                    اطلاعات حساب کاربری<span class="symbol required"></span>
                                </legend>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">
                                        @Html.DisplayName("نام کاربری")
                                    </label>

                                    @Html.TextBox("Username", null, new { @class = "form-control", @id = "exampleInputEmail1", @type = "text", disabled = true, @Value = ViewBag.Username })
                                    @Html.ValidationMessage("Username")
                                </div>
                                <div class="form-group">
                                    <nav id="cl-effect-13" class="links cl-effect-13">
                                        <a href="@Url.Action("AccountManageNamayandegi", "Account", new { UsernameCO = ViewBag.Username, NemayandegiId = Model.ID })">
                                            تغییر رمز عبور
                                        </a>
                                    </nav>
                                </div>


                            </fieldset>
                            <fieldset>
                                <legend>
                                    اطلاعات محلی<span class="symbol required"></span>
                                </legend>
                                <div class="form-group">
                                    <label for="form-field-select-1">
                                        استان
                                    </label>
                                    @Html.TextBox(Model.AddressCity.AddressState.Name, Model.AddressCity.AddressState.Name, new { @class = "form-control", disabled = true })

                                    @Html.ValidationMessageFor(model => model.F_CityId)

                                </div>
                                <div class="form-group">
                                    <label for="form-field-select-1">
                                        شهرستان
                                    </label>
                                    @Html.TextBox(Model.AddressCity.Name, Model.AddressCity.Name, new { @class = "form-control", disabled = true })

                                    @Html.ValidationMessageFor(model => model.F_CityId)

                                </div>
                            </fieldset>
                            <div class="col-md-12">
                                <a @*href="@Url.Action("DeleteNemayandegi", "Nemayandegi", new { NemayandegiId = Model.ID})"*@ class="btn btn-wide btn-red ladda-button " style="width:100%;" data-style="zoom-in" id="PipoModalLink_@Model.ID" data-toggle="modal" data-target="#PipoModal">
                                    <span class="ladda-label">@Resource.Resource.Delete</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end: BASIC TABLE -->
        @*Default Modal*@
        <div class="modal fade" id="PipoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h4 class="modal-title center" id="myModalLabel">
                            <img src="~/Content/AdminContent/z3mill/alert-icon.png" alt="Alert" height="81" width="90" />
                        </h4>
                    </div>
                    <div id="PipoModalBody" class="modal-body">
                        @Resource.Resource.View_AreYouShure
                    </div>
                    @using (Html.BeginForm("DeleteNemayandegi", "Nemayandegi", new { PostId = "_postid_", Page = ViewBag.PaginationCount }, FormMethod.Post, new { Id = "PipoModalForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary btn-o" data-dismiss="modal">
                                @Resource.Resource.View_Close
                            </button>
                            <button type="submit" class="btn btn-danger">
                                @Resource.Resource.View_Yes
                            </button>
                        </div>
                    }
                </div>
            </div>
        </div>
        @*/Default Modal*@
    </div>
</div>
