@{
    Layout = "~/Areas/Admin3mill/Views/Shared/_Layout.cshtml";
}
<style>
    .disabledddd a {
        pointer-events: none;
        cursor: default;
        display: none;
    }
    .disabledddd table {
        height: 17px;
    }
</style>
@section js_Requested{
    <script src="~/Content/AdminContent/vendor/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="~/CKFinderScripts/ckfinder.js"></script>
    <script src="~/Content/AdminContent/vendor/ckeditor/adapters/jquery.js"></script>
    <script src="~/Content/AdminContent/vendor/Chart.js/Chart.min.js"></script>
    <script src="~/Content/AdminContent/vendor/jquery.sparkline/jquery.sparkline.min.js"></script>
}
@section js_Handler{
    <script src="~/Content/AdminContent/assets/js/form-text-editor.js"></script>
    <script src="~/Content/AdminContent/assets/js/charts.js"></script>
    <script src="~/Content/AdminContent/assets/js/IranClock.js"></script>
    <script>
        jQuery(document).ready(function () {
            Main.init();
            TextEditor.init();
            InitiateIranClock(@DateTime.Now.Year, @DateTime.Now.Month, @DateTime.Now.Day, @DateTime.Now.Hour, @DateTime.Now.Minute, @DateTime.Now.Second, @DateTime.Now.Millisecond);
            Charts.init("PieChart", "pieChart", "pieLegend", ScoreResult, LableResult);
        });
    </script>
}
<div class="main-content">
    <div class="wrap-content container" id="container">
        <div class="container-fluid container-fullw padding-bottom-10">
            <!-- start: Widgets -->
            <div class="row margin-bottom-15">
                <div class="col-lg-1"></div>
                <div class="col-lg-2">
                    <!-- Begin Horuph.com Prayer time code -->
                    <script src="http://prayer.horuph.com/frame/?color0=212121&color1=212121&bgcolor=FFFFFF&inbgcolor=F5F5F5&az=7&tz=0&bdcolor=F5F5F5&border=1&curved=15&city=2-1" type="text/javascript" language="javascript"></script>
                    <!-- End Horuph.com Prayer time code -->
                </div>
                <div class="col-lg-4">
                    <div id="ctl00_cphTop_pnl10cphTop_3551">
                        <div class="inner ">
                            <div id="canvasClock">
                                <canvas class="canvas center-block" id="analogClock" width="270" height="270" style="margin-top: -30px;"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end: Widgets -->
        </div>
    </div>
</div>
