@model SchoolService.Models.DataModel.DaneshAmuz
@{
    Layout = "~/Areas/Admin3mill/Views/Shared/_Layout.cshtml";
}
@section CSS_Requested{

    <link href="~/Content/AdminContent/vendor/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/AdminContent/vendor/select2/select2.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/AdminContent/vendor/bootstrap-datepicker/bootstrap-datepicker3.standalone.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/AdminContent/vendor/bootstrap-timepicker/bootstrap-timepicker.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" />
    <link rel="stylesheet" href="~/Content/AdminContent/z3mill/main.css">
    <link href="~/Content/AdminContent/vendor/ladda-bootstrap/ladda-themeless.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/AdminContent/vendor/sweetalert/sweet-alert.css" rel="stylesheet" media="screen">
    <link href="~/Content/AdminContent/vendor/sweetalert/ie9.css" rel="stylesheet" media="screen">
    <link href="~/Content/AdminContent/vendor/toastr/toastr.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="~/Content/DateTimePicker/jquery.Bootstrap-PersianDateTimePicker.css" />
}

@section js_Requested
{
    <script src="~/Content/AdminContent/vendor/maskedinput/jquery.maskedinput.min.js"></script>
    <script src="~/Content/AdminContent/vendor/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
    <script src="~/Content/AdminContent/vendor/autosize/autosize.min.js"></script>
    <script src="~/Content/AdminContent/vendor/selectFx/classie.js"></script>
    <script src="~/Content/AdminContent/vendor/selectFx/selectFx.js"></script>
    <script src="~/Content/AdminContent/vendor/select2/select2.min.js"></script>
    <script src="~/Content/AdminContent/vendor/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/AdminContent/vendor/bootstrap-timepicker/bootstrap-timepicker.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script src="~/Content/AdminContent/vendor/ladda-bootstrap/spin.min.js"></script>
    <script src="~/Content/AdminContent/vendor/ladda-bootstrap/ladda.min.js"></script>
    <script src="~/Content/AdminContent/vendor/sweetalert/sweet-alert.min.js"></script>
    <script src="~/Content/AdminContent/vendor/toastr/toastr.min.js"></script>
    <script src="~/Content/DateTimePicker/jquery.Bootstrap-PersianDateTimePicker.js"></script>
    <script src="~/Content/DateTimePicker/jalaali.js"></script>
}

@section js_Handler
{
    <script src="~/Content/AdminContent/assets/js/form-elements.js"></script>
    <script src="~/Content/AdminContent/assets/js/ui-buttons.js"></script>
    <script src="~/Content/AdminContent/assets/js/ui-notifications.js"></script>
    <script>
        jQuery(document).ready(function () {
            Main.init();
            FormElements.init();
            UIButtons.init();
            UINotifications.init("@ViewBag.jsNotifyMessage");
        });
        var c = document.getElementById("PipoInput");
        function DoIt() {
            var d = document.getElementById("PipoInputImage");
            d.src = "../../Content/AdminContent/z3mill/Excel-icon.png";
            var e = document.getElementById("PipoMessage");
            e.style = "display:block;";
        };
    </script>
}
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryajax")
<div class="main-content">
    <div class="wrap-content container" id="container">
        <!-- start: PAGE TITLE -->
        @Html.Partial("PageTittle")
        <!-- end: PAGE TITLE -->
        <!-- start: BASIC EXAMPLE -->
        @using (Html.BeginForm("AddDaneshAmoozWithExcel", "DaneshAmooz", new { NemayandegiId = ViewBag.NemayandegiId, ModirId = ViewBag.ModirId }, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="main-login col-md-3 col-md-push-4">
                <!-- start: REGISTER BOX -->
                <div class="box-register">
                    <div id="AjaxUpdateBox">
                        <fieldset style="height: 370px;">
                            <legend>
                                آپلود فایل اکسل
                            </legend>
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <img id="PipoInputImage" style="height: 190px;border-radius: 10px;margin-top:10px;" src="~/Content/AdminContent/z3mill/SelectURFile.png">
                                    <span class="btn btn-success fileinput-button margin-top-10 margin-bottom-10" style="width:100%;">
                                        <i class="glyphicon glyphicon-plus"></i> <span>انتخاب فایل</span>
                                        <input type="file" name="ExcelFile" multiple="" id="PipoInput" onchange="DoIt()">
                                    </span>
                                    <div>
                                        @if (ViewBag.Alert == null)
                                        {
                                            <div role="alert" style="display:none;" class="alert alert-success" id="PipoMessage">
                                                <strong>فایل مورد نظر انتخاب شد</strong>
                                            </div>
                                        }
                                        else
                                        {
                                            <div role="alert" class="alert alert-warning" id="PipoMessage">
                                                <strong>@ViewBag.Alert</strong>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <button type="submit" style="width:100%;" class="btn btn-wide btn-dark-green ladda-button " data-style="zoom-in">
                            <span class="ladda-label">@Resource.Resource.Submit</span>
                        </button>
                    </div>

                </div>
                <!-- end: REGISTER BOX -->
            </div>
        }
    </div>
</div>
