@model SchoolService.Models.DataModel.DaneshAmuz
@using SchoolService.Models
@{
    Layout = "~/Areas/Admin3mill/Views/Shared/_Layout.cshtml";
}
@section CSS_Requested{

    <link href="~/Content/AdminContent/vendor/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/AdminContent/vendor/select2/select2.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/AdminContent/vendor/bootstrap-datepicker/bootstrap-datepicker3.standalone.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/AdminContent/vendor/bootstrap-timepicker/bootstrap-timepicker.min.css" rel="stylesheet" media="screen">


}
@section js_Requested
{
    <script src="~/Content/AdminContent/vendor/maskedinput/jquery.maskedinput.min.js"></script>
    <script src="~/Content/AdminContent/vendor/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
    <script src="~/Content/AdminContent/vendor/autosize/autosize.min.js"></script>
    <script src="~/Content/AdminContent/vendor/selectFx/classie.js"></script>
    <script src="~/Content/AdminContent/vendor/selectFx/selectFx.js"></script>
    <script src="~/Content/AdminContent/vendor/select2/select2.min.js"></script>
    <script src="~/Content/AdminContent/vendor/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/AdminContent/vendor/bootstrap-timepicker/bootstrap-timepicker.min.js"></script>
    <script src="~/Content/AdminContent/vendor/Chart.js/Chart.min.js"></script>

}

@section js_Handler
{
    <script>
        jQuery(document).ready(function () {
            Main.init();
        });

        $("a[id^='PipoModalLink_']").click('action', function () {
            var temp = $(this).attr('id').split("_");
            var myid = temp[1];
            $("#PipoModalBody").empty();
            $("#PipoModalBody").append('<p> @Resource.Resource.View_AreYouShure' + ' (#' + myid + ')</p>');
            var $self = $("#PipoModalForm");
            $self.attr('action', '/Admin3mill/DaneshAmooz/DeleteDaneshAmooz?DaneshAmoozId=' + myid + '&NemayandegiId=' + '@ViewBag.NemayandegiId' + '&ModirId=' + '@ViewBag.ModirId');
        });
    </script>
}
<div class="main-content">
    <div class="wrap-content container" id="container">
        <!-- start: PAGE TITLE -->
        @Html.Partial("PageTittle")
        <!-- end: PAGE TITLE -->
        <!-- start: BASIC EXAMPLE -->
        <div class="container-fluid container-fullw bg-white">
            <div class="row">
                <div class="col-md-12">
                    <div class="row margin-top-30">
                        <div class="col-lg-6 col-md-12 col-lg-push-3">
                            @using (Html.BeginForm("DaryafteKarname", "DaneshAmooz", FormMethod.Post, new { NemayandegiId = ViewBag.NemayandegiId, ModirId = ViewBag.ModirId }))
                            {
                                @Html.Hidden("DaneshAmoozId", Model.ID)
                                @Html.Hidden("KelasId", Model.F_KelasID)
                                @Html.Hidden("NemayandegiId", ViewBag.NemayandegiId as string)
                                @Html.Hidden("ModirId", ViewBag.ModirId as string)
                                <div class="col-lg-12 col-md-12" style=" margin-bottom: 20px;">
                                    <div class="form-group center col-md-4">
                                        @Html.DropDownList("Mah", ViewData["ListTarikh"] as List<SelectListItem>, new { id = "form-field-select-1", @class = "cs-select cs-skin-elastic" })
                                    </div>
                                    <div class="form-group center col-md-3">
                                        @Html.DropDownList("Sal", SchoolService.Areas.Admin3mill.Models.Tools.SaleTahsiliCombo(Model.Kelas.F_MadaresID ?? default(int)) as SelectList, new { id = "form-field-select-1", @class = "cs-select cs-skin-elastic" })
                                    </div>
                                    <div class="col-md-5 center">
                                        <button type="submit" class="btn btn-wide btn-dark-green ladda-button" style="width:100%;" id="PipoSubmit">
                                            <span class="ladda-label">دریافت کارنامه</span>
                                        </button>
                                    </div>
                                </div>
                            }
                            <fieldset>
                                <legend>
                                    مشخصات دانش آموز
                                </legend>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">
                                        @Html.DisplayName("شناسه"):
                                        @Html.DisplayFor(model => model.ID)
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">
                                        @Html.DisplayName("نام"):
                                        @Html.DisplayFor(model => model.FirstName)
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">
                                        @Html.DisplayName("نام خانوادگی"):
                                        @Html.DisplayFor(model => model.LastName)
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">
                                        @Html.DisplayName("کد ملی"):
                                        @Html.DisplayFor(model => model.CodeMelli)
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">
                                        @Html.DisplayName("شماره شناسنامه"):
                                        @Html.DisplayFor(model => model.ShomareShenasname)
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">
                                        @Html.DisplayName("تاریخ تولد"):
                                        @if (Model.TarikhTavallod != null)
                                        {
                                            @Html.Label(Model.TarikhTavallod, new { style = "direction:ltr;" })
                                        }
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">
                                        @Html.DisplayName("محل صدور"):
                                        @Html.DisplayFor(model => model.MahalleSodoor)
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">
                                        @Html.DisplayName("جنسیت"):
                                        @if (Model.Jensiat ?? default(bool))
                                        {
                                            @Html.Label("مرد")
                                        }
                                        else
                                        {
                                            @Html.Label("زن")
                                        }
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">
                                        @Html.DisplayName("نام ولی"):
                                        @{string OvliaName = Model.Ovlia.UserInformation.FirstName + " " + Model.Ovlia.UserInformation.LastName;}
                                        @Html.Label(OvliaName)
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">
                                        @Html.DisplayName("نسبت ولی"):
                                        @Html.DisplayFor(model => model.NesbateVali)
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">
                                        @Html.DisplayName("توضیحات"):
                                        @Html.DisplayFor(model => model.Tovzihat)
                                    </label>
                                </div>
                                <a @*href="@Url.Action("DeleteDaneshAmooz", "DaneshAmooz", new { DaneshAmoozId = Model.ID, Page = ViewBag.Pagination })"*@ class="btn btn-wide btn-red ladda-button " style="width:100%;" data-style="zoom-in" id="PipoModalLink_@Model.ID" data-toggle="modal" data-target="#PipoModal">
                                    <span class="ladda-label">@Resource.Resource.Delete</span>
                                </a>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end: BASIC TABLE -->
        @*Default Modal*@
        <div class="modal fade" id="PipoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h4 class="modal-title center" id="myModalLabel">
                            <img src="~/Content/AdminContent/z3mill/alert-icon.png" alt="Alert" height="81" width="90" />
                        </h4>
                    </div>
                    <div id="PipoModalBody" class="modal-body">
                        @Resource.Resource.View_AreYouShure
                    </div>
                    @using (Html.BeginForm("DeleteDaneshAmooz", "DaneshAmooz", new { PostId = "_postid_" }, FormMethod.Post, new { Id = "PipoModalForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary btn-o" data-dismiss="modal">
                                @Resource.Resource.View_Close
                            </button>
                            <button type="submit" class="btn btn-danger">
                                @Resource.Resource.View_Yes
                            </button>
                        </div>
                    }
                </div>
            </div>
        </div>
        @*/Default Modal*@
    </div>
</div>
