@model SchoolService.Models.DataModel.Kelas
@{
    Layout = "~/Areas/Admin3mill/Views/Shared/_Layout.cshtml";
}
@section CSS_Requested{

    <link href="~/Content/AdminContent/vendor/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/AdminContent/vendor/select2/select2.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/AdminContent/vendor/bootstrap-datepicker/bootstrap-datepicker3.standalone.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/AdminContent/vendor/bootstrap-timepicker/bootstrap-timepicker.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" />
    <link rel="stylesheet" href="~/Content/AdminContent/z3mill/main.css">
    <link href="~/Content/AdminContent/vendor/ladda-bootstrap/ladda-themeless.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/AdminContent/vendor/sweetalert/sweet-alert.css" rel="stylesheet" media="screen">
    <link href="~/Content/AdminContent/vendor/sweetalert/ie9.css" rel="stylesheet" media="screen">
    <link href="~/Content/AdminContent/vendor/toastr/toastr.min.css" rel="stylesheet" media="screen">
<link href="~/Content/AdminContent/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.0.min.css" rel="stylesheet" media="screen">
<link href="~/Content/AdminContent/نvendor/bootstrap-rating/bootstrap-rating.css" rel="stylesheet" media="screen">

}
@section js_Requested
{
    <script src="~/Content/AdminContent/vendor/maskedinput/jquery.maskedinput.min.js"></script>
    <script src="~/Content/AdminContent/vendor/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
    <script src="~/Content/AdminContent/vendor/autosize/autosize.min.js"></script>
    <script src="~/Content/AdminContent/vendor/selectFx/classie.js"></script>
    <script src="~/Content/AdminContent/vendor/selectFx/selectFx.js"></script>
    <script src="~/Content/AdminContent/vendor/select2/select2.min.js"></script>
    <script src="~/Content/AdminContent/vendor/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/AdminContent/vendor/bootstrap-timepicker/bootstrap-timepicker.min.js"></script>
    <script src="~/Content/AdminContent/vendor/ladda-bootstrap/spin.min.js"></script>
    <script src="~/Content/AdminContent/vendor/ladda-bootstrap/ladda.min.js"></script>
    <script src="~/Content/AdminContent/vendor/sweetalert/sweet-alert.min.js"></script>
    <script src="~/Content/AdminContent/vendor/toastr/toastr.min.js"></script>
<script src="~/Content/AdminContent/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<script src="~/Content/AdminContent/vendor/twbs-pagination/jquery.twbsPagination.min.js"></script>
<script src="~/Content/AdminContent/vendor/bootstrap-rating/bootstrap-rating.min.js"></script>
}

@section js_Handler
{
    <script src="~/Content/AdminContent/assets/js/form-elements.js"></script>
<script src="~/Content/AdminContent/assets/js/ui-elements.js"></script>
    <script src="~/Content/AdminContent/assets/js/ui-buttons.js"></script>
    <script src="~/Content/AdminContent/assets/js/ui-notifications.js"></script>
    <script>
        jQuery(document).ready(function () {
            Main.init();
            FormElements.init();
            UIElements.init();
            UIButtons.init();
            UINotifications.init("@ViewBag.jsNotifyMessage");
        });
    </script>
}
<div class="main-content">
    <div class="wrap-content container" id="container">
        <!-- start: PAGE TITLE -->
        @Html.Partial("PageTittle")
        <!-- end: PAGE TITLE -->
        <!-- start: BASIC EXAMPLE -->
        @using (Html.BeginForm())
        {
            @Html.Hidden("Page", ViewBag.Pagination as string)
            @Html.HiddenFor(model => model.ID)
            @Html.AntiForgeryToken()
            <div class="container-fluid container-fullw bg-white">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row margin-top-30">
                            <div class="col-lg-6 col-md-12">
                                <fieldset>
                                    <legend>
                                        مشخصات کلاس<span class="symbol required"></span>
                                    </legend>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">
                                            @Html.DisplayName("نام کلاس")
                                        </label>

                                        @Html.TextBoxFor(model => model.NaameKelas, new { @class = "form-control", @id = "exampleInputEmail1", @placeholder = "نام را وارد کنید", @type = "text" })
                                        @Html.ValidationMessageFor(model => model.NaameKelas)
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">
                                            @Html.DisplayName("حد اکثر زنگ ها")
                                        </label>
                                        <div class="margin-bottom-30 text-extra-large">
                                            <input type="hidden" class="rating" data-filled="fa fa-bell margin-right-5 text-yellow" data-empty="fa fa-bell-o margin-right-5" name="MaxZang" id="MaxZang" value="@Model.MaxZang"/>
                                            <span class="label label-success"></span>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.MaxZang)

                                    </div>

                                </fieldset>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <fieldset>
                                    <legend>
                                        مشخصات پایه<span class="symbol required"></span>
                                    </legend>

                                    <div class="form-group">
                                        <label for="exampleInputEmail1">
                                            @Html.DisplayName("پایه تحصیلی")
                                        </label>
                                        @Html.DropDownListFor(model => model.F_PayeID, ViewData["Paaye"] as SelectList, new { @class = "cs-select cs-skin-elastic" })
                                        @Html.ValidationMessageFor(model => model.F_PayeID)
                                    </div>

                                    <button type="submit" class="btn btn-wide btn-dark-green ladda-button " style="width:100%;" data-style="zoom-in" id="PipoSubmit">
                                        <span class="ladda-label">@Resource.Resource.Submit</span>
                                    </button>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>